body{
    width: 1440px;
}
body>.container{
    margin: 20px;
    padding: 20px;
    border-style: none;
}
.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}
.page-link{
    color: black;
}
.page-link:hover{
    color: white;
    background-color: gray;
}
.btn-brown{
    color: white;
    background-color: #b37a4c;
}
.btn-brown:hover{
    color: #e9d4b7;
}
.btn-outline-brown{
    border-color: #b37a4c;
    color: #b37a4c;
}
.btn-outline-brown:hover{
    color: #e9d4b7;
    background-color: #964b00;
}
.btn-yellowhite{
    background-color: #ffba01;
}
.btn-darkbrown{
    color: white;
    background-color: #964B00;
}